*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: gray;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
}


.wrapper{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 16px;
    width: 500px;
    height: 150px;
}

.Start{
    display: flex;
    flex-direction: column;
}

.Content{
    margin: 20px 0 0 0;
}

.title > p{
    color: rgb(56, 121, 196);
    font-size: 20px;
    font-weight: bold;
}

.Close{
    align-self: flex-end;
}
.Confirm{
    margin: 20px 0 0 0;
}

#buttonClose{
    background-color: rgb(56, 121, 196);
    color: white;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

#buttonOk{
    color: white;
    background-color: rgb(56, 121, 196);
    width: 170px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#buttonOk:hover{
    background-color: green;
    color: black;
}

#buttonClose:hover{
    background-color: red;
}
